@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-green: #00EB2B;
  --anak-gradient: linear-gradient(180deg, #00EB2B 0%, #00A0FB 100%);
  --black-gradient: linear-gradient(180deg, #252525 27.38%, #070707 100%);

  --bg-black: #1b1b1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground1: var(--bg-black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components{
  .bg-gradient-black{
    background: var(--black-gradient);
  }
   .btn-gradient {
      display: flex;
      align-items: center;
      position: relative;
      background: linear-gradient(270deg, #00EB2B -16.98%, #00A0FB 85.26%);
      border-radius: 14px;
      padding-block: 17px;
      padding-inline: 31px;
      color: white;
      text-align: center;
      font-size: 24px;
    }

    .btn-coaching {
      @apply rounded-[14px] border-[1px] border-[#313131] w-[136px] h-[46px] text-center text-[16px] font-bold
    }

    .resources-info{
      @apply text-center relative flex flex-col text-[40px] font-bold items-center justify-center w-[389px] h-[469px] bg-(--bg-black) rounded-[20px] ring ring-(--theme-green)
    }
    .ul-header-text{
      @apply capitalize text-2xl font-bold leading-[32px]
    }

    .ul-caption{
      @apply text-[16px] font-medium leading-[24px]
    }

    .span-green{
      @apply text-(--theme-green)
    }

    .coaching-link{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7.17px;
      font-size: 16px;
      font-weight: 700;
      background: #151515;
      border-radius: 14.35px;
      width:332.85px;
      height: 60.97px;
      box-shadow: 0px 2.87px 2.87px 0px #00000040;
    }

    .info-block {
      @apply flex w-[775px] h-[105px] text-white bg-[#151515] rounded-2xl border-[.3px] border-(--theme-green)
    }
    
    .anak-span {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 500;
      color: #050505;
      box-shadow: 0px 2.87px 2.87px 0px #00000040;
      background: #C3C3C3;
      border-radius: 16px;
      border-width: .3px;
      width: 46.35px;
      height: 46.35px;
      left:-23px;
      top:30px;
      border:none;
      position: relative;
    }
}
#glute::before{
    content: "";
    z-index: 1;
    background: #00000080;
    border-radius: 14,35px;
    position: absolute;
    inset: 0;
}

#client::before{
  content: '';
  position:absolute;
  inset:0;
  background:radial-gradient(95.28% 125.41% at 4.72% 64.17%, #0D0E11 0%, rgba(68, 68, 68, 0.72) 84.58%);
  z-index: 2;
  border-radius: 20px;
  opacity: .4;
}

#grocery::before{
  content: '';
  position:absolute;
  inset:0;
  background:#000000;
  z-index: 2;
  opacity: .7;
}

#hero::before{
  content: '';
  position:absolute;
  inset:0;
  background:radial-gradient(95.28% 125.41% at 4.72% 64.17%, #0D0E11 0%, rgba(68, 68, 68, 0.72) 84.58%);
  z-index: -9;
  ;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
